{
  "fileDetails": {
    "DB": "dbEngDocs",
    "collection": "Cable",
    "file": ".config"
  },
  "cableType": [
    "ACTIVE",
    "NEUTRAL",
    "EARTH",
    "CONTROL",
    "INSTRUMENT",
    "DATA",
    "COMMS"
  ],
  "circuitType": [
    "SINGLE",
    "MULTI",
    "CONTROL",
    "INSTRUMENT",
    "COMMS",
    "DATA"
  ],
  "conductorMaterial": [
    "CU",
    "AL"
  ],
  "default_conductorMaterial": "CU",
  "installMethod": [
    "UNENCLOSED_SPACED",
    "UNENCLOSED_SURFACE",
    "UNENCLOSED_TOUCHING",
    "ENCLOSED_CONDUIT",
    "ENCLOSED_PARTIAL",
    "ENCLOSED_COMPLETE",
    "BURIED_DIRECT",
    "DUCTS_SINGLE",
    "DUCTS_PER_CABLE"
  ],
  "cableArrangement": [
    "flat",
    "trefoil"
  ],
  "sheathType": [
    "PVC",
    "HDPE"
  ],
  "insulationType": [
    "XLPE",
    "PVC",
    "PILS"
  ],
  "voltRating": [
    "0.6/1KV",
    "12.7/22KV",
    "6.35/11KV"
  ],
  "conductorSize": [
    1,
    1.5,
    2.5,
    4,
    6,
    10,
    16,
    25,
    35,
    50,
    70,
    95,
    120,
    150,
    185,
    240,
    300,
    400,
    500,
    630
  ],
  "minCableSingleCoreSize": 120,
  "defaultSizeUnit": "MM2",
  "sizeUnits": [
    "MM2"
  ],
  "coreArrangements": [
    "1C",
    "2C",
    "3C",
    "2C+E",
    "3C+E",
    "3C+3E",
    "4C+E",
    "2C+E",
    "4C+E",
    "5C+E",
    "10C+E",
    "20C+E",
    "50C+E",
    "1PR",
    "2PR",
    "4PR",
    "5PR",
    "6PR",
    "10PR",
    "12PR",
    "20PR",
    "1TRI",
    "2TRI",
    "4TRI",
    "5TRI",
    "6TRI",
    "10TRI",
    "12TRI",
    "20TRI"
  ],
  "cableArmour": [
    "NIL",
    "SWA",
    "DWA"
  ],
  "default_armour": "NIL",
  "CableScreen": [
    "NIL",
    "DCT",
    "OS"
  ],
  "CoreScreen": [
    "NIL",
    "IS"
  ],
  "power": {
    "WATTS": 1,
    "W": 1,
    "KILO-WATT": 1000,
    "KW": 1000,
    "VOLT-AMPS": 1,
    "VA": 1,
    "KILO-VOLT-AMPS": 1000,
    "KVA": 1000
  },
  "flexCable": [
    "TRUE",
    "FALSE"
  ],
  "default_flex": "FALSE"
}
